// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #eee;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.2em;
}

.note {
	background-color: #fff;
	margin: 10px auto;
	padding: 20px;
	white-space: pre-wrap;
	width: 50%;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
    .note {
		width: 100%;	
	}
}

.animate-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  border: 0;
}

.animate-enter {
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}